* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e6f4f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  border: 2px solid #00796b;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00796b;
}

.placar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.time {
  margin: 0 20px;
  text-align: center;
}

.time h2 {
  color: #00796b;
  font-size: 1.5rem;
}

.time p {
  font-size: 3rem;
  font-weight: bold;
  color: #00796b;
  margin: 10px 0;
}

input {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #00796b;
  border-radius: 5px;
  display: block;
  width: 100%;
  max-width: 180px;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
}

#separador h2 {
  font-size: 3rem;
  color: #00796b;
  margin: 0 20px;
}

.reiniciar {
  background-color: #00796b;
  color: white;
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reiniciar:hover {
  background-color: #004d40;
}
